/IconClassifier/testingImages/*
/IconClassifier/trainingImages/*
/iconModelPrototype.h5
/screenModelPrototype.h5
/ScreenClassifier/trainingImages/*
/ScreenClassifier/testingImages/*
/textRecognition/frozen_east_text_detection.pb
/textRecognition/credentials.json
/textRecognition/resultsScreens/
/textRecognition/selectScreens/
/PiCamera/screenShots/*
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/PiSmash/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
/PiCamera/Videos
/*.h5                       # Covers any keras models

# Prevent any Google Authentication .json files from being exposed
/PiCamera/*.json
/textRecognition/*.json
