/IconClassifier/testingImages/*
/IconClassifier/trainingImages/*
/iconModelPrototype.h5
/screenModelPrototype.h5
/iconModel.h5
/screenModel.h5
/ScreenClassifier/trainingImages/*
/ScreenClassifier/testingImages/*
/textRecognition/credentials.json

/textRecognition/resultsScreens/*
/textRecognition/frozen_east_text_detection.pb
