# All image folders
/IconClassifier/testingImages/*
/IconClassifier/trainingImages/*
/ScreenClassifier/trainingImages/*
/ScreenClassifier/testingImages/*
/textRecognition/resultsScreens/*
/textRecognition/selectScreens/*
/PiCamera/screenShots/*

# Sample gameplay videos for testing
/exampleVideos/*
# Visual Studio files
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/PiSmash/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config


# All possible credential names (Don't want to get hacked please :) )
/textRecognition/credentials.json
/PiCamera/driveCredentials.json
/PiCamera/*.json

# OpenCV Text Recognition Model
/textRecognition/frozen_east_text_detection.pb

# All possible keras models
/iconModelPrototype.h5
/screenModelPrototype.h5
/iconModel.h5
/screenModel.h5
