<!DOCTYPE html>
<html lang="en">

<head>
	<title>PiSmash Data Viewer</title>
    <meta charset="utf-8" />
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css'>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <!-- The above meta tag is used by Bootstrap to make things mobile-friendly -->
    <style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">     <!-- Bootstrap grids -->
			  <div class="col-sm-2">
				  <br>
				  <!-- <center>
					<img src="{% static 'img/face.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center> -->
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>PiSmash</h3>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills flex-column">
				<li class="nav-item"><a href='/' class="nav-link">Home</a></li>
				<li class="nav-item"><a href='/dataviewer/' class="nav-link">Data Viewer</a></li>
				<!-- <li class="nav-item"><a href='/contact/' class="nav-link">Contact</a></li> -->
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<ul class="nav">
                <li class="nav-item">
                  <a class="nav-link " href="https://github.com/TCRichards/PiSmash">Project GitHub Repo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="https://github.com/nickk124/PiSmash_website">GitHub Repo for This Page</a>
				  </li>
              </ul>
		</div>
	</footer>	
	
</body>

</html>